Options +FollowSymLinks
RewriteEngine On

# Redirect to the index.php file for all requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Deny access to sensitive files
<FilesMatch "\.(env|ini|log|sql|sh|bak)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>